@font-face {
    font-family: centauri;
    src: url(../fonts/fontsfree-net-centauri-webfont.woff);
}

body {
    background: url(../img/sandyplanet.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-family: centauri;
    word-spacing: 0.8em;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
